.body {
    background: url("./assets/bg.jpg");
    min-height: 97vh;
    background-size: 100vw 120vh;
    background-repeat: no-repeat;
    justify-content: left;
    align-items: center;
}

.text {
    font-family: 'comic sans ms';
    font-size: 35px;
}

html {
    text-align: center;
}